.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  max-width: 700px;
  margin: auto;
  text-align: left;
}

.codecontainer {
  background-color: red;
  color: rgb(233, 223, 223);
}

code {
  overflow: auto;
  background-color:rgb(241, 236, 236);
}

.output{
  background-color: rgb(245, 236, 236);
  padding:10px;
  color:red;
}
.note{
  background-color: rgb(238, 250, 235);
  padding: 10px;
}

.note h4{
  background-color: rgb(238, 243, 224);
}